<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Starcraft 2 streak chart</title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :bundle %>
  </head>

  <body class="<%= page_classes %>">
    <div id="app">
      <%= yield %>
    </div>

    <footer>
        Contact me <%= link_to "@keikun17", "https://www.twitter.com/keikun17" %> or <%= link_to "/u/keikun17", "https://www.reddit.com/u/keikun17"%>
        |
        Discuss @ <%= link_to "Teamliquid", "www.teamliquid.net/forum/starcraft-2/499718-sc2-playstreak-tool" %>
    </footer>
  </body>
</html>
